<body>
<app-navbar/>

<div class="titulo">
    <h1>EQUIPOS Y MATERIALES</h1>
</div>

<div class="contenedor">

    <div class="acordeon">
        <ul>
            <li>
                <input type="radio" name="acordeon" id="first">
                <label for="first">LABORATORIO DE INGENIERÍA SANITARIA</label>
                <div class="contenido">
                       <ul>
                        <li><img src="assets/Microscopio_lab_sanitario.jpg" alt="Microscopio del laboratorio sanitario"></li>
                        <p>Microscopio.</p>
                        <li><img src="assets/cabina_bioseguridad.png" alt="Cabina de bioseguridad"></li>
                        <p>Cabina de bioseguridad.</p>
                       </ul>
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="second">
                <label for="second">LABORATORIO DE TECNOLOGÍA DE LOS MATERIALES</label>
                <div class="contenido">
                    <ul>
                        <li><img src="assets/Prensa_resistencia_lab_mats_construc.jpg" alt="Prensa de resistencia"></li>
                        <p>Prensa hidraúlica.</p>
                        <li><img src="assets/tamizadora_mecanica.png" alt="Tamizadora mecanica"></li>
                        <p>Tamizadora mecánica.</p>
                    </ul>
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="third">
                <label for="third">LABORATORIO DE SUELOS</label>
                <div class="contenido">
                    <ul>
                        <li><img src="assets/Prensa_ensayo_triaxial_lab_suelos.jpg" alt="Prensa de ensayo"></li>
                        <p>Prensa de ensayo triaxial.</p>
                        <li><img class="ancha" src="assets/maquina_cortes_directos.png" alt="Maquina para cortes directos"></li>
                        <p>Maquina para ensayos de corte directo.</p>
                    </ul>
                </div>
            </li>

        </ul>
    </div>
</div>
</body>
<app-footer/>

