<app-navbar/>

<div class="titulo">
    <h1>EQUIPOS Y MATERIALES</h1>
</div>

<div class="contenedor">

    <div class="acordeon">
        <ul>
            <li>
                <input type="radio" name="acordeon" id="first">
                <label for="first">LABORATORIO SANITARIO</label>
                <div class="contenido">
                       <ul>
                        <li><img src="Microscopio_lab_sanitario.jpg" alt="Microscopio del laboratorio sanitario"></li>
                        <p>Microscopio del laboratorio sanitario.</p>
                       </ul>
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="second">
                <label for="second">LABORATORIO MAT. CONSTRUCCIÓN</label>
                <div class="contenido">
                    <ul>
                        <li><img src="Prensa_resistencia_lab_mats_construc.jpg" alt="Prensa de resistencia"></li>
                        <p>Prensa de resistencia a compresión.</p>
                    </ul>
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="third">
                <label for="third">LABORATIRO DE SUELOS</label>
                <div class="contenido">
                    <ul>
                        <li><img src="Prensa_ensayo_triaxial_lab_suelos.jpg" alt="Prensa de ensayo"></li>
                        <p>Prensa de ensayo triaxial.</p>
                    </ul>
                </div>
            </li>

        </ul>
    </div>
</div>
<br/>
<app-footer/>

