<body class="bodyimage">
<app-navbar/>

<div class="bienvenida">
    <h1>APOYÁNDOTE CON NUESTROS <br> CONOCIMIENTOS Y EQUIPOS </h1>
</div>

<div class="descripcion">
    <h1>SERVICIOS DE EXTENSIÓN</h1>
    <p>La Universidad Católica Andrés Bello ofrece el servicio de laboratorio para <br>
       Evaluación de Materiales de Construcción (agregados, cemento hidráulico, concreto fresco y endurecido). <br>
       Análisis y Evaluación de Suelos. <br> 
       Análisis Metalográfico de Materiales Metálicos. <br>
       Ensayos de líquidos penetrantes para detección de discontinuidades superficiales.<br> 
       Evaluación de Fluidos. <br> 
       Servicios de Levantamientos Topográficos.<br>
       Modelado, Ingeniería e Impresión 3D. <br>
       Utilizando métodos normalizados y con personal competente.
    </p>
</div>

<div class="servicios">
    <h1>SERVICIOS DISPONIBLES</h1>
</div>

<div class="disponibles">
    <ul>
        <li><a href="/areas">ÁREAS</a></li>
        <li><a href="/servicios">SERVICIOS</a></li>
        <li><a href="/ensayos">ENSAYOS</a></li>
        <li><a href="/equipos">EQUIPOS Y MATERIALES</a></li>
    </ul>
</div>
</body>
<app-footer/>