<body class="bodyimage">
<app-navbar/>

<div class="bienvenida">
    <h1>APOYANDOTE CON NUESTROS <br> CONOCIMIENTOS Y EQUIPOS </h1>
</div>

<div class="descripcion">
    <h1>SERVICIOS DE EXTENSIÓN</h1>
    <p>La Universidad Católica Andrés Bello ofrece el servicio de laboratorio para la <br>
       Evaluación de Materiales de Construcción (agregados, cemento hidráulico, concreto fresco y endurecido), <br>
       análisis y evaluación de Suelos, Analásis Metalográfico de materiales metálicos, Ensayo de líquidos penetrantes <br>
       para detección de discontinuidades superficiales, Fluidos y los servicios de <br>
       Levantamientos Topográficos, Modelado 3D, Ingeniería e Impresión 3D<br>
       utilizando métodos normalizados y con personal competente.
    </p>
</div>

<div class="servicios">
    <h1>SERVICIOS DISPONIBLES</h1>
</div>

<div class="disponibles">
    <ul>
        <li><a href="areas">ÁREAS</a></li>
        <li><a href="servicios">SERVICIOS</a></li>
        <li><a href="ensayos">ENSAYOS</a></li>
        <li><a href="equipos">EQUIPOS Y MATERIALES</a></li>
    </ul>
</div>
</body>
<app-footer/>