<body class="bodyfooter">

    <footer class="footer">
         <div class="container">
             <div class="row">
                 <div id="hola" class="footer-col">
                     <h4>DIRECCIÓN</h4>
                     <ul>
                        <li>Prolongación Av. Atlántico</li>
                        <li>Ciudad Guayana, Edo. Bolívar</li>
                        <li>República Bolivariana de Venezuela</li>
                     </ul>
                 </div>
                 <div id="mundo" class="footer-col">
                     <h4>CONTÁCTANOS</h4>
                     <ul>
                        <li>Teléfonos: 0286-6000104 / 0414-8772939</li>
                        <li>Correo: maboliva&#64;ucab.edu.ve</li>
                     </ul>
                 </div>
             </div>
         </div>
    </footer>
  
  </body>
