<body>
<app-navbar/>

<div class="titulo">
    <h1>ÁREAS</h1>
</div>

<div class="contenedor">

    <div class="acordeon">
        <ul>
            <li>
                <input type="radio" name="acordeon" id="first">
                <label for="first">ANÁLISIS DE AGUAS</label>
                <div class="contenido">
                       Ofrece servicios de Análisis de Calidad, de agua potable <br/>
                       aguas naturales (embalses, pozos, ríos), aguas servidas <br/>
                       (municipales, industriales), dirigido a los entes, instituciones <br/>
                       empresas públicas y privadas, complejos residenciales y al público en <br/>
                       general involucrado en la prestación del servicio. <br/> <br/>
                       La política de Calidad del laboratorio de Ingeniería Sanitaria <br/>
                       mantiene el Sistema de Gestión implementado de acuerdo<br/>
                       a la norma ISO/IEC 17025:2017 para la realización<br/>
                       de ensayos fisicoquímicos y microbiológicos a <br/>
                       muestras de agua potable, naturales, residuales e industriales;<br/>
                       mediante métodos de ensayo estandarizados, con el uso de <br/>
                       equipos calibrados, mantenidos, con personal competente y <br/>
                       comprometido con la confidencialidad e imparcialidad de las<br/>
                       operaciones, a fin de satisfacer los requisitos de nuestros<br/>
                       clientes.<br/><br/>
                       Normas que regulan la calidad del agua en Venezuela:<br/>
                       <ul>
                        <li>
                            Decreto 883: Normas para la Clasificación y el Control<br/>
                            de la Calidad de los Cuerpos de Agua y Vertidos o <br/>
                            Efluentes Líquidos, publicado en la Gaceta Oficial <br/>
                            de la República de Venezuela N° 5.021 Extraordinario <br/>
                            de fecha 18 de diciembre de 1995. Título secundario.
                        </li>
                        <li>
                            Gaceta Oficial 36.395: Resolución N° SG 018 98 de <br/>
                            fecha 11 de febrero de 1998, por la cual se dictan <br/>
                            las Normas Sanitarias de Calidad del Agua Potable, <br/>
                            publicada en la Gaceta Oficial de la República de <br/>
                            Venezuela N° 36.395 de fecha 13 de febrero de 1998.
                        </li>
                       </ul>
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="second">
                <label for="second">SUELOS</label>
                <div class="contenido">
                    Ofrece servicios de evaluacion de suelos,<br/> muestreo y ensayos de laboratorio.
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="third">
                <label for="third">MATERIALES METÁLICOS</label>
                <div class="contenido">
                    Ofrece análisis metalográfico, determinación de dureza de <br/>
                    materiales metálicos y ensayos con líquidos penetrantes.
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="fourth">
                <label for="fourth">MATERIALES DE CONSTRUCCIÓN</label>
                <div class="contenido">
                    Ofrece evaluación de materiales de construcción, tales como <br/>
                    agregados, cemento hidraúlico y concreto fresco y endurecido.
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="fifth">
                <label for="fifth">FLUIDOS</label>
                <div class="contenido">
                    Ofrece ensayos como determinación de viscosidad<br/>
                    de aceites.
                </div>
            </li>
        </ul>
    </div>

    <div class="areas">
        <h1>EQUIPOS DISPONIBLES</h1>
        <img src="assets/Microscopio_lab_sanitario.jpg" alt="Microscopio">
        <p>Microscopio - Laboratorio de Ingeniería Sanitaria.</p>
        <img src="assets/Prensa_resistencia_lab_mats_construc.jpg" alt="Prensa Resistencia">
        <p>Prensa de resistencia de suelos - Laboratorio de Tecnología de los Materiales.</p>
        <img src="assets/Prensa_ensayo_triaxial_lab_suelos.jpg" alt="Prensa Ensayo Triaxial">
        <p>Prensa de ensayo triaxial - Laboratorio de Suelos.</p>
    </div>


</div>
</body>
<app-footer/>
