<app-navbar/>

<div class="titulo">
    <h1>ÁREAS</h1>
</div>

<div class="contenedor">

    <div class="acordeon">
        <ul>
            <li>
                <input type="radio" name="acordeon" id="first">
                <label for="first">ANÁLISIS DE AGUAS</label>
                <div class="contenido">
                       Ofrece servicios de Análisis de Calidad, de agua potable <br/>
                       aguas naturales (embalses, pozos, ríos), aguas servidas <br/>
                       (municipales, industriales), dirigido a los entes, instituciones <br/>
                       empresas públicas y privadas, complejos residenciales y al público en <br/>
                       general involucrado en la prestación del servicio. <br/>
                       La política de calidad del laboratorio de Ingeniería Sanitaria <br/>
                       mantiene el Sistema de Gestión implementado de acuerdo<br/>
                       a la norma ISO/IEC 17025:2017 para la realización<br/>
                       de ensayos fisicoquímicos y microbiológicos a <br/>
                       muestras de agua potable, naturales, residuales e industriales;<br/>
                       mediante métodos de ensayo estandarizados, con el uso de <br/>
                       equipos calibrados, mantenidos, con personal competente y <br/>
                       comprometido con la confidencialidad e imparcialidad de las<br/>
                       operaciones, a fin de satisfacer los requisitos de nuestros<br/>
                       clientes.
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="second">
                <label for="second">SUELOS</label>
                <div class="contenido">
                    Ofrece servicios de evaluacion de suelos,<br/> muestreo y ensayos de laboratorio.
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="third">
                <label for="third">MATERIALES METÁLICOS</label>
                <div class="contenido">
                    Ofrece análisis metalográfico, determinación de dureza de <br/>
                    materiales metálicos y ensayos con líquidos penetrantes.
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="fourth">
                <label for="fourth">MATERIALES DE CONSTRUCCIÓN</label>
                <div class="contenido">
                    Ofrece evaluación de materiales de construcción, tales como <br/>
                    agregados, cemento hidraúlico y concreto fresco y endurecido.
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="fifth">
                <label for="fifth">FLUIDOS</label>
                <div class="contenido">
                    Ofrece ensayos como determinación de viscosidad<br/>
                    de aceites.
                </div>
            </li>
        </ul>
    </div>

    <div class="areas">
        <h1>ÁREAS DISPONIBLES</h1>
        <p>Campos en los que se dividen <br/> los servicios ofrecidos en nuestras instalaciones.</p>
    </div>

</div>
<br/>
<app-footer/>
