<body>
<app-navbar/>

<div class="titulo">
    <h1>SERVICIOS</h1>
</div>

<div class="contenedor">

    <div class="acordeon">
        <ul>
            <li>
                <input type="radio" name="acordeon" id="first">
                <label for="first">LEVANTAMIENTOS TOPOGRÁFICOS</label>
                <div class="contenido">
                       Procesos de recolección de datos en el terreno <br/>
                       para crear representaciones precisas de los suelos <br/>
                       y de sus características naturales y artificiales.
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="second">
                <label for="second">MODELADO 3D</label>
                <div class="contenido">
                    Diseño de modelos tridimensionales mediante el uso <br/>
                    de equipos y software especializado.
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="third">
                <label for="third">INGENIERÍA E IMPRESIÓN 3D</label>
                <div class="contenido">
                    Creación de modelos tridimensionales de equipos y piezas, <br/>
                    incluyendo su impresion mediante equipos especializados.
                </div>
            </li>
        </ul>
    </div>

    <div class="descripcion">
        <h1>EQUIPOS DISPONIBLES</h1>
        <img src="assets/Impresora_3d.jpg" alt="Impresora 3D">
        <p>Impresora 3D.</p>
    </div>

</div>
</body>
<app-footer/>
