<app-navbar/>
<br/><br/><br/><br/>
<div class="cuadro">
    <form>
        <div class="input-group">
            <input type="text" id="name" placeholder="Ingrese su nombre" required>
            <label for="nombre">Nombre</label>
        </div>
        <div class="input-group">
            <input type="text" id="organizacion" placeholder="Ingrese el nombre de su organizacion" required>
            <label for="organizacion">Nombre de la organizacion</label>
        </div>
        <div class="input-group">
            <input type="text" id="correo" placeholder="Ingrese su correo" required>
            <label for="correo">Correo</label>
        </div>
        <div class="input-group">
            <input type="text" id="telf" placeholder="Ingrese su número de teléfono" required>
            <label for="telf">Teléfono</label>
        </div>
        <button type="submit">Enviar</button>
    </form>
</div>
<br/><br/>
<app-footer/>