.cuadro {
    box-sizing: border-box;
    margin: 150px 350px 120px 350px;;
    padding: 100px;
    width: 50%;
    height: 120vh;
    background-color: #007935;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadro h1 {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 40px;
    text-align: center;
}

form {
    width: 90%;
    max-width: 600px;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

label {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 10px;
    left: 0;
    top: 0;
}

::placeholder{
    font-family: 'Open Sans', sans-serif;
}

button {
    padding: 10px 15px;
    border: 0;
    background-color: #37B4E3;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}

textarea{
    font-family: 'Open Sans', sans-serif;
}