<body>
<app-navbar/>

<div class="titulo">
    <h1>ENSAYOS POR ÁREA</h1>
</div>

<div class="contenedor">

    <div class="acordeon">
        <ul>
            <li>
                <input type="radio" name="acordeon" id="first">
                <label for="first">ANÁLISIS DE AGUAS</label>
                <div class="contenido">
                       <p>FISICOQUÍMICOS Y ORGANOLÉPTICOS</p>
                       <ul>
                        <li>pH.</li>
                        <li>Turbiedad.</li>
                        <li>Solidos totales, disueltos, suspendidos.</li>
                        <li>Conductividad.</li>
                        <li>Alcalinilidad total.</li>
                        <li>Dureza total, cálcica, magnésica.</li>
                        <li>Cloro residual.</li>
                        <li>Cloruros.</li>
                        <li>Oxígenos.</li>
                       </ul>
                       <p>MICROBIOLÓGICOS</p>
                       <ul>
                        <li>Coliformes totales, fecales.</li>
                       </ul>
                       <p>NORMAS DE ENSAYO DEL LABORATORIO</p>
        <ul>
            <li>Norma COVENIN 2462:2002. Aguas naturales, Industriales<br/>
                y Residuales. Determinación del pH.
            </li>
            <li>
                Norma COVENIN 3050:2003. Aguas naturales, Industriales
                y Residuales. Determinación de la Conductividad de Electricidad.
            </li>
            <li>
                Norma COVENIN 2771:1991. Aguas naturales, Industriales
                y Residuales. Determinación de Dureza.
            </li>
            <li>
                Norma COVENIN 2685:1990. Agua Potable. Determinación
                de Cloro Residual.
            </li>
            <li>
                Norma COVENIN 3047:1993. Agua Potable. Método de Determinación
                del Número más Probable de Bacterias Coliformas
            </li>
            <li>
                Norma COVENIN 2781:2002. Aguas naturales, Industriales
                y Residuales. Determinación de la Turbiedad.
            </li>
            <li>
                Norma FONDONORMA 2780:2002. Aguas naturales, Industriales
                y Residuales. Determinación de la Alcalinilidad.
            </li>
            <li>
                Norma FONDONORMA 2461:2005. Aguas naturales, Industriales
                y Residuales. Determinación de Sólidos.
            </li>
            <li>
                Norma FONDONORMA 3008:2007. Aguas naturales, Industriales
                y Residuales. Determinación de la Demanda Bioquímica de Oxígeno.
            </li>
            <li>
                Norma FONDONORMA 2871:2007. Aguas naturales, Industriales
                y Residuales. Determinación de Oxígeno Disuelto.
            </li>
        </ul>
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="second">
                <label for="second">SUELOS</label>
                <div class="contenido">
                    <ul>
                        <li>Peso Unitario.</li>
                        <li>Compresión Simple.</li>
                        <li>Consolidación.</li>
                        <li>Granulometría.</li>
                        <li>Límite de Consistencia.</li>
                        <li>Humedad natural.</li>
                        <li>Hidrometría.</li>
                        <li>Proctor.</li>
                        <li>CBR.</li>
                        <li>Corte Directo.</li>
                    </ul>
                    <p>NORMAS DE ENSAYO DEL LABORATORIO DE SUELOS</p>
                    <ul>
                        <li>ASTM D854-00 “Standard Test Methods for Specific Gravity of Soil Solids by Water Pycnometer”.</li>
                        <li>ASTM 4318-84 “Standard Test Methods for Liquid Limit, Plastic Limit, and Plasticity Index of Soils”.</li>
                        <li>ASTM D 422-63 “Standard Test Method for Particle-Size Analysis of Soils”.</li>
                        <li>ASTM D2487-00 "Classification of Soils for Engineering Purposes (Unified Soil Classification System)".</li>
                    </ul>
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="third">
                <label for="third">MATERIALES METÁLICOS</label>
                <div class="contenido">
                    <ul>
                        <li>Determinación de dureza de materiales metálicos.</li>
                        <li>Ensayo de líquido penetrantes para detección de discontinuidades superficiales.</li>
                    </ul>
                    <p>NORMAS DEL LABORATORIO DE MATERIALES METÁLICOS</p>
                    <ul>
                        <li>ASTM E165 "Standar Test Method for Liquid Penetrant Examination".</li>
                        <li>ASTM E18 "Métodos De Prueba Estándar Para La Dureza Rockwell De Materiales Metálicos".</li>
                    </ul>
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="fourth">
                <label for="fourth">MATERIALES DE CONSTRUCCIÓN</label>
                <div class="contenido">
                    <p>AGREGADOS:</p>
                    <ul>
                        <li>Peso Unitario.</li>
                        <li>Densidad Aparente.</li>
                        <li>Granulometría.</li>
                        <li>Desgaste Abrasión los Ángeles.</li>
                    </ul>
                    <p>CEMENTO:</p>
                    <ul>
                        <li>Determinación de tiempo de fraguado. </li>
                        <li>Finura Blaine.</li>
                    </ul>
                    <p>CONCRETO:</p>
                    <ul>
                        <li>Resistencia a Compresión.</li>
                    </ul>
                    <p>NORMAS DE ENSAYO DEL LABORATORIO DE TECNOLOGÍA DE MATERIALES</p>
                    <ul>
                        <li>
                            Norma FONDONORMA 487:2006. Cementos Portland. Determinación 
                            de la Finura por medio del Aparato Blaine de Permeabilidad.
                        </li>
                        <li>
                            Norma COVENIN 255-77. Método de ensayo para Determinar la 
                            Composición Granulométrica de Agregados Finos y Gruesos.
                        </li>
                        <li>
                            Norma COVENIN 263-78. Método de ensayo para determinar el 
                            peso unitario del agregado.
                        </li>
                        <li>
                            Norma COVENIN 493:1992. Cementos Portland. Determinación 
                            del tiempo de fraguado por la aguja Vicat.
                        </li>
                        <li>
                            Norma COVENIN 269:1998. Agregado grueso. Determinación de la
                            densidad y la absorción.
                        </li>
                        <li>
                            Norma COVENIN 268:1998. Agregado fino. Determinación de la 
                            densidad y la absorción.
                        </li>
                        <li>
                            Norma COVENIN 338:2000. Concreto. Método para la elaboración,
                            curado y ensayo a compresión de cilindros de concreto (2da revisión).
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="fifth">
                <label for="fifth">FLUIDOS</label>
                <div class="contenido">
                    <ul>
                        <li>Determinación de viscosidades de aceites.</li>
                    </ul>
                    <p>NORMAS DEL LABORATORIO DE FLUIDOS</p>
                    <ul>
                        <li>ASTM D445: Método para determinar la viscosidad cinemática de los productos líquidos del petróleo, tanto transparentes como opacos.</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

</div>
</body>
<app-footer/>
