<app-navbar/>

<div class="titulo">
    <h1>ENSAYOS POR ÁREA</h1>
</div>

<div class="contenedor">

    <div class="acordeon">
        <ul>
            <li>
                <input type="radio" name="acordeon" id="first">
                <label for="first">ANÁLISIS DE AGUAS</label>
                <div class="contenido">
                       <p>FISICOQUÍMICOS Y ORGANOLÉPTICOS</p>
                       <ul>
                        <li>pH.</li>
                        <li>Turbiedad.</li>
                        <li>Solidos totales, disueltos, suspendidos.</li>
                        <li>Conductividad.</li>
                        <li>Alcalinilidad total.</li>
                        <li>Dureza total, cálcica, magnésica.</li>
                        <li>Cloro residual.</li>
                        <li>Cloruros.</li>
                        <li>Oxígenos.</li>
                       </ul>
                       <p>MICROBIOLÓGICOS</p>
                       <ul>
                        <li>Coliformes totales, fecales.</li>
                       </ul>
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="second">
                <label for="second">SUELOS</label>
                <div class="contenido">
                    <ul>
                        <li>Peso Unitario.</li>
                        <li>Compresión Simple.</li>
                        <li>Consolidación.</li>
                        <li>Granulometría.</li>
                        <li>Límite de Consistencia.</li>
                        <li>Humedad natural.</li>
                        <li>Hidrometría.</li>
                        <li>Proctor.</li>
                        <li>CBR.</li>
                        <li>Corte Directo.</li>
                    </ul>
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="third">
                <label for="third">MATERIALES METÁLICOS</label>
                <div class="contenido">
                    <ul>
                        <li>Determinación de dureza de materiales metálicos.</li>
                        <li>Ensayo de líquido penetrantes para detección <br/>de discontinuidades superficiales.</li>
                    </ul>
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="fourth">
                <label for="fourth">MATERIALES DE CONSTRUCCIÓN</label>
                <div class="contenido">
                    <p>AGREGADOS:</p>
                    <ul>
                        <li>Peso Unitario.</li>
                        <li>Densidad Aparente.</li>
                        <li>Granulometría.</li>
                        <li>Desgaste Abrasión los Ángeles.</li>
                    </ul>
                    <p>CEMENTO:</p>
                    <ul>
                        <li>Determinación de tiempo de fraguado. </li>
                        <li>Finura Blaine.</li>
                    </ul>
                    <p>CONCRETO:</p>
                    <ul>
                        <li>Resistencia a Compresión.</li>
                    </ul>
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="fifth">
                <label for="fifth">FLUIDOS</label>
                <div class="contenido">
                    <ul>
                        <li>Determinación de viscosidades de aceites.</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <div class="descripcion">
        <h1>ENSAYOS DISPONIBLES</h1>
        <p>Campos en los que se dividen <br/> los servicios ofrecidos en nuestras instalaciones.</p>
    </div>

</div>
<br/>
<app-footer/>
